body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 10px;
    height: 100vh;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;  /* Stack children vertically */
    height: 100vh;  /* Occupy full viewport height */
    
}

.center-container {
    margin-left: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 3px solid #ddd;
}

th, td {
    padding: 25px;
    text-align: left;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}

.input-container {
    margin-bottom: 20px;
}

input[type="text"], select {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.wall {
    background-color: #aaa;
}

.enemy {
    background-color: #f00;
}

.npc {
    background-color: #0f0;
}

.chest {
    background-color: #ff0;
}

.transition {
    background-color: rgb(240, 80, 255);
}


td:hover.wall {
    background-color: #6d6d6d;
}

td:hover.enemy {
    background-color: rgb(185, 0, 0);
}

td:hover.npc {
    background-color: rgb(0, 189, 0);
}

td:hover.chest {
    background-color: rgb(201, 201, 0);
}

td:hover.transition {
    background-color: rgb(200, 65, 212);
}

td:hover {
    background-color: rgb(226, 226, 226);
}


.export-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;  /* Ensure it stays on top */
}

.import-container {
    margin-top: auto;  /* Push it to the bottom */
    display: flex;
    flex-direction: column;  /* Stack import fields vertically */
    gap: 20px;  /* Spacing between fields */
    padding-bottom: 30px;
}

.import-container button {
    width: 90%;
    background-color: #b3b3b3; 
    color: rgb(0, 0, 0);           
    border-radius: 8px;      
    padding: 10px 20px;      
    border: none;            
    cursor: pointer;        
}

.import-container button:hover {
    background-color: #7c7c7c;
}

.file-upload-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.file-upload-btn:hover {
    background-color: #45a049;
}